* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  background-color: #F0F0F0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
}

body .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;
}

body .wrapper .game-area {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 400px;
  border-radius: 20px;
  position: relative;
}

body .wrapper .game-area .line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body .wrapper .game-area .line.vertical::before {
  content: '';
  display: block;
  background-color: #c0c0c0;
  position: absolute;
  width: 12px;
  height: 100%;
  border-radius: 20px;
  left: calc(100% - 33.33% - 7.5px);
  top: 0;
  z-index: 99;
}

body .wrapper .game-area .line.vertical::after {
  content: '';
  display: block;
  background-color: #c0c0c0;
  position: absolute;
  width: 12px;
  height: 100%;
  border-radius: 20px;
  right: calc(100% - 33.33% - 7.5px);
  top: 0;
  z-index: 99;
}

body .wrapper .game-area .line.horizontal::before {
  content: '';
  display: block;
  background-color: #c0c0c0;
  position: absolute;
  width: 100%;
  height: 12px;
  border-radius: 20px;
  left: 0;
  bottom: calc(100% - 33.33% - 7.5px);
  z-index: 99;
}

body .wrapper .game-area .line.horizontal::after {
  content: '';
  display: block;
  background-color: #c0c0c0;
  position: absolute;
  width: 100%;
  height: 12px;
  border-radius: 20px;
  right: 0;
  top: calc(100% - 33.33% - 7.5px);
  z-index: 99;
}

body .wrapper .game-area .square {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

body .wrapper .game-area .square .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 10px solid;
  border-color: #904E9C;
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

body .wrapper .game-area .square .cross {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  background-color: #D46E9F;
  width: 10px;
  height: 80px;
  border-radius: 20px;
}

body .wrapper .game-area .square .cross::before {
  content: '';
  display: block;
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: #D46E9F;
  width: 10px;
  height: 80px;
  border-radius: 20px;
}

body .wrapper .game-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 25px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

body .wrapper .game-panel .winners-info {
  color: #5c5c5c;
  text-align: center;
  font-size: 42px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 80px;
  line-height: 2;
}

body .wrapper .game-panel .play {
  background-color: royalblue;
  -ms-flex-preferred-size: 170px;
      flex-basis: 170px;
  height: 50px;
  justify-items: center;
  margin: 10px auto;
  color: white;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  outline: none;
}

body .wrapper .game-panel .play:hover {
  cursor: pointer;
  background-color: #4f76eb;
}

body .wrapper .game-panel .results {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .wrapper .game-panel .results .result {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding: 0 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

body .wrapper .game-panel .colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

body .wrapper .game-panel .colors .change-color {
  color: #5c5c5c;
  padding: 20px 15px;
  height: 100%;
  text-align: center;
}

body .wrapper .game-panel .colors .color {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: auto 10px;
  cursor: pointer;
}

body .wrapper .game-panel .colors .color.blue {
  background-color: #78a9ce;
}

body .wrapper .game-panel .colors .color.green {
  background-color: #7db971;
}

body .wrapper .game-panel .colors .color.yellow {
  background-color: #eed876;
}

@media only screen and (max-width: 1000px) {
  .results {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 20px;
  }
  .result {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    margin: 15px 0;
  }
}

@media only screen and (max-width: 700px) {
  .game-area {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
    height: 600px;
    margin: 0 auto;
  }
  .game-panel {
    margin: 0;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .winners-info {
    margin: 20px;
  }
}
/*# sourceMappingURL=style.css.map */